<div class="container">
    <h1 class="title">Finalidades Secundarias🌐</h1>
    <div class="content">
        <p>
            Usted autoriza y otorga a Arías y Arias Corredores de Seguros S.A. su consentimiento libre,
            previo, expreso, inequívoco e informado para que esta pueda dar tratamiento a sus datos personales
            con la finalidad secundaria que a continuación se menciona: Tratar sus datos personales para fines 
            publicitarios y de prospección comercial, para que sean ofrecidos eventos, novedades, encuestas, 
            descuentos y/u ofertas de su interés, nuevos productos y/o servicios a través de cualquier medio 
            de comunicación tradicional y electrónico. Mediante la aceptación de la referida finalidad secundaria, 
            usted proporciona a Arías y Arias Corredores de Seguros S.A. los siguientes datos personales: 
            Nombres y Apellidos, Teléfono, Edad, Estado Civil, DNI, RUC, N° Pasaporte, carné de extranjería, PTP, 
            Dirección del Domicilio, Dirección de Correo Electrónico, Fecha de Nacimiento, Nacionalidad y Profesión. 
            De no proporcionar los datos personales previamente mencionados, no se verá afectada la prestación del 
            servicio o producto solicitado. Esta autorización y/o la conservación de los datos personales estará vigente
            mientras dure la relación contractual. Posteriormente, se conservarán los datos para las finalidades 
            autorizadas por usted hasta que se revoque su consentimiento o hasta que la legislación vigente nos permita 
            contar con su información. Cabe resaltar que sus datos personales sólo serán utilizados con propósitos 
            limitados a los expuestos precedentemente.
        </p>
    </div>
    <div class="button-container">
        <button (click)="goToHome()" class="text-white bg-la-positiva-principal border-0 rounded-2xl py-2 px-8 focus:outline-none hover:bg-la-positiva-principal-hov text-lg">
            Ir al inicio
        </button>
</div>